ion-view.view-test(view-title="{{ 'STATES.TEST.TITLE' | translate }}",
  translate-namespace="STATES.TEST")
  ion-content Test
  a.button.button-positive(
  ui-state="STATE_HOME",
  translate=".HOME",
  type="button")

